
<p class="simple-text">{{this.model.body}}</p>
<div class="post-author-information">
    <h3 class="subtitle">Author Information:</h3>
    <ul>
        <li><span class="label">Name:</span> {{this.model.userId.name}}</li>
        <li><span class="label">Email:</span> {{this.model.userId.email}}</li>
        <li><span class="label">Phone:</span> {{this.model.userId.phone}}</li>
        <li><span class="label">Website:</span> {{this.model.userId.website}}</li>
    </ul>
</div>
{{#link-to "posts" tagName="div"}}
    <a class="btn-orange" href="posts">Come Back to Posts</a>
{{/link-to}}
