{{outlet}}
<h2>PrivatBank exchange rates</h2>
<div class="row">
    <div class="col-md-6">
        {{#each model as |currency|}}
            <p><b>{{currency.ccy}}</b> to <b>{{currency.base_ccy}}</b></p>
            <p><span><b>Buy:</b> {{currency.buy}}</span> <span><b>Sale:</b> {{currency.sale}}</span></p>
        {{/each}}
    </div>
</div>
